{% extends 'base.html' %}
{% load static %} <!-- Cargar las etiquetas estáticas -->
{% block styles %}
    <link rel="stylesheet" href="{% static 'css/employee_form.css' %}">
{% endblock %}
{% block content %}
<div class="container mt-4">
    <h1 class="text-center mb-4">Crear o Editar Empleado</h1>

    <form method="POST" class="employee-form">
        {% csrf_token %}
        
        <!-- Renderizamos el formulario usando {{ form.as_p }} para mostrar los campos -->
        {{ form.as_p }}
        
        <!-- Botón para enviar el formulario -->
        <div class="text-center mt-4">
            <button type="submit" class="btn btn-success">Guardar</button>
        </div>
    </form>
</div>
{% endblock %}
