{% comment %} role_based_template.html {% endcomment %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Panel de Control</title>
    <link rel="icon" type="image/x-icon" href="image/web.png">
    <!-- Incluir Bootstrap desde CDN -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Enlazar el archivo CSS personalizado -->
    {% load static %}
    <link href="{% static 'css/styles.css' %}" rel="stylesheet">

    <!-- Incluir Chart.js -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js@4.2.1/dist/chart.umd.min.js"></script>
</head>
<body class="bg-light">

    <div class="container-fluid">
        <div class="row">
            <!-- Barra lateral -->
            <!-- Incluir la barra de navegación -->
            {% include 'navbar.html' %}
            <div class="d-flex justify-content-center align-items-center pt-4">

            <!-- Contenido principal -->
            <div class="col-md-9 col-lg-10 main-content p-4 " >
                <h2 class="welcome-message mb-4">Bienvenido, {{ user.username }}!</h2>

                {% if role == 'Empleados' %}
                    <div class="alert alert-info role-alert" role="alert">
                        Estás logueado como {{role}}. Aquí podrás gestionar ventas, clientes e inventario.
                    </div>
                    <div class="row action-buttons">
                        <!-- Botones de acción para empleados -->
                        <div class="col-md-4 mb-3">
                            <a href="{% url 'clientes_list' %}" class="btn btn-secondary action-btn w-100">Gestionar Clientes</a>
                        </div>
                        <div class="col-md-4 mb-3">
                            <a href="{% url 'venta_list' %}" class="btn btn-danger action-btn w-100">Gestionar Ventas</a>
                        </div>
                        <div class="col-md-4 mb-3">
                            <a href="{% url 'producto_list' %}" class="btn btn-success action-btn w-100">Agregar Inventario</a>
                        </div>
                    </div>
                    
                {% elif role == 'Encargado' %}
                    <div class="alert alert-warning role-alert" role="alert">
                        Estás logueado como {{role}}. Aquí podrás gestionar empleados, inventarios y más.
                    </div>
                    <div class="row action-buttons">
                        <!-- Botones de acción para encargados -->
                        <div class="col-md-4 mb-3">
                            <a href="{% url 'gestion_empleados' %}" class="btn btn-info action-btn w-100">Gestionar Empleados</a>
                        </div>
                        <div class="col-md-4 mb-3">
                            <a href="{% url 'clientes_list' %}" class="btn btn-secondary action-btn w-100">Gestionar Clientes</a>
                        </div>
                        <div class="col-md-4 mb-3">
                            <a href="{% url 'producto_list' %}" class="btn btn-success action-btn w-100">Agregar Inventario</a>
                        </div>
                        <div class="col-md-4 mb-3">
                            <a href="{% url 'categoria_list' %}" class="btn btn-warning action-btn w-100">Agregar Categoría</a>
                        </div>
                        <div class="col-md-4 mb-3">
                            <a href="{% url 'venta_list' %}" class="btn btn-danger action-btn w-100">Gestionar Ventas</a>
                        </div>
                    </div>

                    <!-- Incluir las estadísticas -->
                    {% include 'estadisticas.html' %}
                {% else %}
                    <div class="alert alert-secondary role-alert" role="alert">
                        No tienes un rol asignado.
                    </div>
                {% endif %}
            </div>
        </div>
        </div>
    </div>
    <div class="container mt-4">
        <h1 class="text-center">Dashboard de Ventas</h1>
    
        <!-- Gráficos de Ventas -->
        <h3 class="mt-4">Gráficos de Ventas</h3>
        <div class="row">
            <!-- Gráfico de Ventas por Mes -->
            <div class="col-md-6">
                <h4>Ventas por Mes</h4>
                <canvas id="ventasPorMesChart"></canvas>
            </div>
    
            <!-- Gráfico de Ventas por Producto -->
            <div class="col-md-6">
                <h4>Ventas por Producto</h4>
                <canvas id="ventasPorProductoChart"></canvas>
            </div>
        </div>
    
    </div>

    <!-- Script para Gráficos -->
    <script>
        // Asegúrate de que estos datos estén correctamente renderizados
        var meses = JSON.parse('{{ meses | escapejs }}');
        var ventasPorMes = JSON.parse('{{ ventas_por_mes | escapejs }}');
        var productosVendidosLabels = JSON.parse('{{ productos_vendidos_labels | escapejs }}');
        var productosVendidosData = JSON.parse('{{ productos_vendidos_data | escapejs }}');

        // Gráfico de Ventas por Mes
        var ctx = document.getElementById('ventasPorMesChart').getContext('2d');
        var ventasPorMesChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: meses,
                datasets: [{
                    label: 'Ventas por Mes',
                    data: ventasPorMes,
                    borderColor: 'rgb(75, 192, 192)',
                    fill: false,
                }]
            },
            options: {
                responsive: true,
                scales: {
                    x: {
                        title: {
                            display: true,
                            text: 'Meses'
                        }
                    },
                    y: {
                        title: {
                            display: true,
                            text: 'Monto Vendido (USD)'
                        }
                    }
                }
            }
        });

        // Gráfico de Ventas por Producto
        var ctx2 = document.getElementById('ventasPorProductoChart').getContext('2d');
        var ventasPorProductoChart = new Chart(ctx2, {
            type: 'bar',
            data: {
                labels: productosVendidosLabels,
                datasets: [{
                    label: 'Ventas por Producto',
                    data: productosVendidosData,
                    backgroundColor: 'rgba(255, 99, 132, 0.2)',
                    borderColor: 'rgba(255, 99, 132, 1)',
                    borderWidth: 1
                }]
            },
            options: {
                responsive: true,
                scales: {
                    x: {
                        title: {
                            display: true,
                            text: 'Productos'
                        }
                    },
                    y: {
                        title: {
                            display: true,
                            text: 'Monto Vendido (USD)'
                        }
                    }
                }
            }
        });
    </script>

    <!-- Incluir el script de Bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>