{% extends '../base.html' %}

{% block content %}
    <div class="container mt-4">
        <h1>Listado de Productos</h1>

        <!-- Formulario de búsqueda con distribución mejorada -->
        <form method="get" class="form-inline mb-3 d-flex align-items-center">
            <div class="input-group">
                <!-- Campo de búsqueda -->
                <input type="text" name="q" class="form-control" placeholder="Buscar producto..." value="{{ request.GET.q }}">
                
                <!-- Botón de búsqueda con ícono de lupa -->
                <div class="input-group-append">
                    <button type="submit" class="btn btn-primary">
                        <i class="fas fa-search"></i> <!-- Ícono de lupa -->
                    </button>
                </div>
            </div>

            <!-- Botón de cancelar búsqueda (cruz) -->
            <a href="{% url 'producto_list' %}" class="btn btn-danger ml-2">
                <i class="fas fa-times"></i> <!-- Cruz para cancelar búsqueda -->
            </a>
        </form>

        <!-- Botones para crear productos y categorías -->
        <a href="{% url 'producto_create' %}" class="btn btn-primary mb-3">Crear Nuevo Producto</a>
        <a href="{% url 'categoria_list' %}" class="btn btn-warning mb-3">Crear Categoria</a>

        <!-- Tabla de productos -->
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Título</th>
                    <th>Descripción</th>
                    <th>Precio</th>
                    <th>Cantidad</th>
                    <th>Categoría</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for producto in productos %}
                    <tr>
                        <td>{{ producto.id }}</td>
                        <td>{{ producto.titulo }}</td>
                        <td>{{ producto.descripcion }}</td>
                        <td>${{ producto.precio }}</td>
                        <td>{{ producto.cantidad }}</td>
                        <td>{{ producto.categoria.nombre }}</td>
                        <td>
                            {% if role == 'Encargado' %}
                                <a href="{% url 'producto_delete' producto.id %}" class="btn btn-danger btn-sm">Eliminar</a>
                            {% endif %}
                            <a href="{% url 'producto_update' producto.id %}" class="btn btn-warning btn-sm">Editar</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
